<p>Welcome! Please login to submit your Off-Site Hosting Request.</p>


<div style="padding: .5em 4em;">
  <p><strong><i>BEFORE</i></strong> you complete this off-site hosting request form:</p>
  <p>1) Review the <a href="https://security.berkeley.edu/data-authorization">Berkeley Data Authorization
    process</a> and get the approval of a <a href="http://ethicscompliance.berkeley.edu/ResponsibilitiesGuide/principles/principlesDelegation.shtml">
    Berkeley Campus Administrative Official</a> (e.g. Dean, Director, PI, MSO, or other responsible individual to whom financial,
    administrative or management responsibilities for your area have been delegated) to sponsor your activity and accept the role of <a 	href="https://security.berkeley.edu/data-authorization#resource-proprietor">Resource Proprietor</a>.
  </p>
  <p style="padding: .5em 4em;">
    <strong>Note:</strong> When you submit your application, an email will be sent to the designated Resource Proprietor.
    Your application will not be complete until he or she sends a response accepting the responsibilities of a Resource Proprietor.
  </p>
  <p>2) <font color="red">Register a security contact address:</font> A registered security contact email
    address is now required as part of the off-site hosting request process. If you do not have a registered security contact address,
    please go to <a href="https://securitycontact.berkeley.edu/" target="_blank">securitycontact.berkeley.edu</a> to register your address.</p>
  <p>Questions about this process may be directed to <a href="mailto:itpolicy@berkeley.edu">itpolicy@berkeley.edu</a>.</p>
</div>
