<div id="campus_official_agreement">
  <h2>Off-Site Hosting Terms</h2>

  <p>An email will be sent to the person you designate as Resource Proprietor (Berkeley Campus Administrative Official or faculty member) who must agree to take responsibility for the following <i>Off-Site Hosting Terms</i></p>

  <p>Resource Proprietors must accept responsibility for:</p>
  <ol>
    <li>Ensuring that information provided on this application and during any follow-up assessments and questionnaires is accurate and complete.</li>
    <li>Fulfilling the Resource Proprietors duties defined in US Business Finance Bulletin IS-2.IV.C.1:<BR />
      Resource proprietors are those individuals responsible for information resources and processes supporting University functions. This includes individuals who create the information, such as the owner of intellectual property.
      <p>Resource Proprietors are responsible for:</p>
      <ul>
        <li>ensuring the inventory and classification of information for which they have responsibility,</li>
        <li>in consultation with the Resource Custodian, determining the level of risk and ensuring implementation of appropriate security controls to address that risk,</li>
        <li>approving requests for access, release, and disclosure of information, and</li>
        <li>ensuring appropriate security awareness training for individuals they authorize to access information.  </li>
      </ul>
      <p>Resource proprietors should establish and review procedures to ensure compliance with federal or state regulations or University policy.  
        Resource proprietors are responsible for ensuring that University Resources are used in ways consistent with the mission of the University as a whole.
        The Resource Proprietor should ensure that recipients of restricted information are informed that appropriate security measures must be in place before restricted information is transferred to the destination system.</p>

    <li>Posting a website Privacy Notice and maintaining the site’s compliance with stated practices.</li>
    <li>Annual review, update and renewal of registration.</li>
  </ol>
</div>
