/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

html {
    margin: 0em;
    padding: 0em;
    background-color: #fff;
}

body {
    margin-left: 0em;
    margin-right: 0em;
    vertical-align: top;
    background-color: #fff;
}

#main {
    padding: 1em 7em 2em 7em;
    vertical-align: top;
    background-color: #fff;
    min-width:750px;
}

div.page_content {
    border: 1px solid #444;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: .5em 0em 0em 0em;
    margin-top: .5em;
    background-color: #fff;
}


a, a:visited, a:hover {
    color: #0058c4;
    text-decoration: underline;
}

h1 {
    font-size: 150%;
    color: black;
    font-weight: bold;
}

h1#banner {
    text-align: left;
    margin-top: .5em;
    padding-left: 0.9em;
    margin-bottom: 1.5em;
}

h1#banner div#log_in_out_widget {
    position: absolute;
    top: .5em;
    right: 3em;
    text-align: left;
    font-weight: normal;
    font-size: 65%;
    -moz-border-radius: 7px 7px 7px 7px;
    padding: 5px;
    border: solid 1px black;
}

h2 {
    font-size: 120%;
    color: black;
    margin: .2em 0em .5em 0em;
}


.flash_error {
    margin-bottom: 1em;
    background-color: #c40d0d;
    text-align: left;
    font-size: 80%;
    padding: 1px;
    padding-left: 3em;
    border: 1px solid gray;
    color: white;
    line-height: 1.7em;
}

.flash_notice {
    margin-bottom: 1em;
    background-color: #dbffb4;
    text-align: left;
    font-family: arial;
    padding: 1px;
    padding-left: 3em;
    border: 1px solid gray;
    color: black;
    font-size: 80%;
    line-height: 1.7em;
}

.button_widget {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #444;
    margin:0 7px 0 .5em;
    border: 1px solid black;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height:113%;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    cursor:pointer;
    padding: 4px 10px 4px 10px;
}

a.button_widget {
    font-size: 13px;
    line-height:113%;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    padding: 4px 10px 4px 10px;
    float:left;
}

a.button_widget:hover {
    background-color: #000;
    color: white;
}

a.edit_button_widget {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #444;
    margin: 0px 1px;
    border: 1px solid black;
    font-family:"Lucida Grande", Arial, Verdana, sans-serif;
    font-size: 11px;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    padding: 2px 5px;
}

a.edit_button_widget:hover {
    background-color: #000;
    color: white;
}

a.lookup_widget {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #444;
    margin:0 7px 0 .5em;
    border: 1px solid black;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 13px;
    line-height:113%;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    cursor:pointer;
    padding: 2px 10px;
}

#logout_link {
    color: #fe7600;
}

input[disabled], textarea[disabled] {
    background-color: #eee;
    color: #000;
}

br.spacing {
    line-height: 350%;
}

/********* tables *********/

table {
    width: 97%;
    border: 0px;
    margin: 1em 1em 1em 1em;
    vertical-align: top;
    border-collapse: collapse;
}

table td {
    border: 0px;
    border-bottom: 1px solid #ddd;
    padding: 2px 5px;
    color: black;
}

table th {
    border: 0px;
    border-bottom: 1px solid black;
    padding: 2px;
    background-color: #fff;
    text-align: left;
    font-size: 90%;
    line-height: 100%;
}

table th a {
    color: #004477;
    border: 0px;
    text-align: left;
}

table tbody.highlight tr:hover {
    background-color: #ffd;
}

.empty_result_set {
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}


/** tabbed navigation **/

#main_navbar {
    overflow: hidden;
    border-bottom: 5px solid #81bbf2;
}

#main_navbar ul {
    clear: none;
    display: block;
    margin: 0px;
    *margin: 0px 0px 0px 50px;
    font-size: 16px;
}

#main_navbar li {
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;

    float: left;
    display: block;
    margin: 0 2px;
    padding: 4px 5px;
    border: 1px solid #9C9C9C;
    background-color: #ffffff;
    border-bottom: none;
    white-space: nowrap;
}

#main_navbar li a, #main_navbar li a:visited {
    color: black;
    text-decoration: none;
}

#main_navbar li.current a {
    font-weight: bold;
}

#main_navbar li:hover {
    background: #CCCCCC;
}

#main_navbar li.current, #main_navbar li.current:hover {
    background-color: #81bbf2;
}

#main_navbar_footer hr {
    clear: both;
    margin: 0;
    padding: 0;
    height: 5px;
    line-height: 4px;
    border-top: #81BBF2;
    border-bottom: 1px solid #9C9C9C;
    background-color: #81BBF2;
}

#main_navbar_footer ul {
    clear: both;
    display: block;
    font-size: 13px;
    height: 1.7em;
    line-height: 1.5em;
    border-bottom: 1px solid #9C9C9C;
    background-color: #81BBF2;
}

#main_navbar_footer li {
    float: left;
    display: block;
    margin: 0 1em;
    padding: 2px 10px 0px 5px;
    border-bottom: none;
    white-space: nowrap;
}

#main_navbar_footer li a, #main_navbar_footer li a:visited {
    color:  #444;
    text-decoration: none;
}

#main_navbar_footer li.current a {
    font-weight: bold;
    color: black;
    text-decoration: underline;
}


#page_content h3, .page_content h3 {
    font-size: 1em;
    margin: 0 0 0 0;
}

div.fieldWithErrors input {
    border: 2px solid red;
    display: inline;
}

#errorExplanation {
    width: 400px;
    border: 1px solid red;
    padding: 7px;
    padding-bottom: 0px;
    margin: 20px 0px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 3px 0px 3px 15px;
    font-size: 13px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    display: none;
}

#errorExplanation ul li {
    font-size: 13px;
}


div#campus_official_agreement {
    font-size: 15px;
    padding: 1em 2em;
}

div#campus_official_agreement ol {
    list-style-type: numeric;
}

div#campus_official_agreement ol ol {
    list-style-type: lower-roman;
}

div#user_filter {
 float: right; margin-right: 20px;
}

div#red_text {
    color: red;
}

table tr.ineligible_row td {
    background-color: #eee;
    color: #999;
}

#footer {
    margin-top: 5em;
    border-top: 1px dotted #9C9C9C;
    color: gray;
    text-align: right;
    padding: .5em 1em 0 0;
}