<% set_title("Edit Extenuating Circumstance") %>

<%= error_messages_for('ext_circumstance') %>

<div class="page_content">
  <%= render(:partial => 'form', :locals => {:ext_circumstance => @ext_circumstance}) %>
</div>

